# core API
google-cloud-bigquery
google-api-python-client
google-cloud-storage

# google Auth (gdrive)
google-auth-httplib2
google-auth-oauthlib

# data processing
polars==1.40.1
pandas==3.0.3

# dev test
sqlfluff==4.2.1
black==26.5.1